body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.App {
    &__title {
        color: red;
    }
}    

.box {
    background-color: blue;
    width: 80px;
    height: 80px;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.Task {
    background-color: white;
    border-radius: 16px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 16px 12px 4px rgba(160, 160, 160, 0.2);

    &__title {
        margin-bottom: 3px;
    }
    &__body {
        color: gray;
    }
}